title   = demo shart
width   = 800
height  = 600

legend {
  title    = evolution GOOG 2018-2022
  position = right | top
}

scale(time-scale): time {
  range = [0:800]
  domain = [2018-08-01:2022-10-01]
}

scale(price-scale): number {
  range = [0:600]
  domain = [0:350]
}

object(axis-style) {
  inner-tick = true
  label-tick = true
  bands-tick = true  
}

axis(x-axis): time {
  scale    = @time-scale
  ticks    = 10
  @axis-style
}

axis(y-axis): number {
  scale    = @price-scale
  ticks    = 20
  @axis-style
}

renderer(linear): line {
  type = line
  color = steelblue
  ignore-missing = false
}

serie(GOOG): file {
  renderer = @linear
  y = @price-scale
  x = @time-scale
  file = {
    path = ../data/GOOG.csv
    format = csv
    column = {
      index = 0
      type  = time
    }
    column = {
      index = 1
      type = number
    }
  }
}
